<!DOCTYPE html>
<html lang="es" xmlns:th="http:/tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
    <link th:href="@{/css/CS_GlogalStyles.css}" rel="stylesheet"/>
</head>
<body>
	<div id="section1">
		<h1 th:text="${mensaje != null} ? 'Hola '+${mensaje}+'!' : 'Welcomen' + '!'">Hello my friends!</h1>
	    <h1 th:text="${mensaje}">Hello my friends!</h1>
	    <h2> Hoy es [[${fecha}]]</h2>
	</div>
    
    <div id="section2">
		<ul>
			<li><a th:href='@{/}'>Home</a></li>
			<li><a th:href='@{/loggin}'>Loggin</a></li>
		</ul>
	</div>
</body>
</html>