<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="title">Service Web</title>
  
  <link th:href="@{/css/CS_HeaderStyle.css}" rel="stylesheet"/>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li> <a th:href="@{/}">Home</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>