<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Listado de Ofertas</title>
</head>
<body>
    <img th:src="@{/images/logo.jfif}" width="220" height="136">
    <h1 class="text-primary">Lista de Vacantes</h1>
    <table style="width: 100%" border="2" class="table table-hover ">
        <thead>
            <tr>
                <th>Logo</th>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha Publicación</th>
                <th>Descripción</th>
                <th>Salario</th>
                <th>Destacado</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="vacante:${vacantes}" >
            <td> <img th:src="@{/images/empresas-logos/{img} (img=${vacante.img} ) }" width="136" height="136"> </td>
            <td th:text="${vacante.id}"></td>
            <td>[[${vacante.name}]]</td>
            <td>[[${vacante.date}]]</td>
            <td>[[${vacante.description}]]</td>
            <td>[[${vacante.salary}]]</td>
            <td>
                <!-- Comprobamos si la vacante esta destacada o no -->
                <span th:if="${vacante.outstanding == 1}" class="badge bg-success"> Si </span>
                <span th:unless="${vacante.outstanding == 1}" class="badge bg-danger"> No </span>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>
</html>