<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empleos APP</title>
</head>
<body>
<h1>Lista de empelos</h1>
<table>
    <thead>
        <th th:text="${headTable}"></th>
    </thead>
    <tbody th:each="oferta : ${empleos}">
        <td th:text="${oferta}"></td>
    </tbody>
</table>
</body>
</html>