<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vacantes</title>
</head>
<body>
    <h1> Ofertas disponibles: </h1>
    <div th:if="${ofertas?.isEmpty()} or ${ofertas == null}">
        <h2>Lista de ofertas vacias</h2>
    </div>

    <div th:unless="${ofertas?.isEmpty()} or ${ofertas == null}">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Publicado</th>
                    <th>Ver mas</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vacante:${ofertas}">
                    <td th:text="${vacante.nombre}"></td>
                    <td th:text="${vacante.fecha}"></td>
                    <td><a th:href="@{/vacantes/getVacante/{id} (id=${vacante.id})}">detalle</a> </td>
                    <td><a th:href="@{/vacantes/deleteVacante/{id} (id=${vacante.id})}">borrar</a> </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <h1> Oferta </h1>
    <div th:if="${oferta != null}">
        <img th:src="@{/logo-empresas/{img} (img=${oferta.imagen})}">
        <h2>[[${oferta.nombre}]]</h2>
        <h6>Publicado: [[${oferta.fecha}]]</h6>
        <p>[[${oferta.descripcion}]]</p>
        <a th:href="@{/vacantes/allVacantes}">cerrar</a>
    </div>
    <div th:unless="${oferta != null}">
        <h2>No se elecciono oferta</h2>
    </div>
</body>
</html>