<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Ofertas</title>
</head>
<body>
    <h1>Lista de Vacantes</h1>
    <table style="width: 100%" border="2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha Publicación</th>
                <th>Descripción</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vacante:${vacantes}">
                <td th:text="${vacante.id}"></td>
                <td>[[${vacante.name}]]</td>
                <td>[[${vacante.date}]]</td>
                <td>[[${vacante.description}]]</td>
                <td>[[${vacante.salary}]]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>