<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thyemeleaf</title>
</head>
<body>
    <h1>Thyemeleaf</h1>
    <div style="border-style: solid;border-color:black">
        <h2>Mostrar atributos del controlador en la vista</h2>
        <!-- atributos -->
        <h3>Get atributos: </h3>
        <ul>
            <li th:text="${mensaje}"></li>
            <li>[[${mensaje}]]</li>
        </ul>
        <h3>Get atributos vacíos o no pasados: </h3>
        <ul>
            <li th:text="${mensajeVoid}"></li>
            <li>[[${mensajeVoid}]]</li>
            <li th:text="${message}"></li>
            <li>[[${message}]]</li>
        </ul>
        <h3>Get atributos + texto: </h3>
        <ul>
            <li th:text="'Date: '+${date}">Este contenido no se muestra</li>
            <li th:text="'Date: '+${date}"></li>
            <!-- Si no existe el atributo o esta vacio -->
            <li>Date: [[${mensajeVoid}]]</li>
            <li th:text="${mensajeVoid}">Aunque este vacio no aparece th:text lo machaca</li>
            <li th:text="${message}">Aunque este exista no aparece th:text lo machaca</li>
            <li>Mesaje vacio: [[${mensajeVoid}]]</li>
            <li th:text="${message}"></li>
            <li>Mensaje de un attributo que no existe: [[${message}]]</li>
            <!-- Dentro de otras etiqeutas -->
            <li> Now you are looking at a <span th:text="'working web application'">template file</span>. </li>
            <li>
                Hola bienvenido [[${email}]], esto es un documento web que lee los parametros recibidos del controlador.<br>
                Este parámetro esta vacío o no se ha recibido, param1: [[${emails}]], param2: <span th:text="${emails}"></span>.
            </li>
        </ul>
    </div>
    <br>
    <h2>Extenderizando texto</h2>
    <!-- mensajes de messages.properties -->
    <div style="border-style: solid;border-color:black">
    <p th:text="#{messages.welcome}">Welcome to our grocery store!</p>
    <p data-th-text="#{messages.welcome}">Welcome to our grocery store!</p>
    <p th:*="#{messages.welcome}">Welcome to our grocery store!</p>
    </div>
    <br>
    <!-- mensjaes de messages/textMessages.properties -->
    <div style="border-style: solid;border-color:black">
        <p th:text="#{textMessages.salut}">Welcome to our grocery store!</p>
        <p data-th-text="#{textMessages.edad}">Welcome to our grocery store!</p>
        <p th:*="#{textMessages.salut}">Welcome to our grocery store!</p>
        <p th:text="#{textMessages.salut}">Welcome to our grocery store! - [[#{textMessages.salut}]]</p>
        <!-- texto con parametro -->
        <p th:text="'Text wich PARAM: '+#{welcome.messageWitchParam(${email})}"></p>
        <p>
            Text wich PARAM - [[#{welcome.messageWitchParam(${email})}]]
        </p>
    </div>
    <!-- Errores
    <p th:text="${messages.welcome}">Welcome to our grocery store!</p>
    <p th:text="#{email}">Welcome to our grocery store!</p>
    -->
</body>
</html>