<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{?lang=es}">[[#{navbar.a.language.spanish}]]</a></li>
            <li><a th:href="@{?lang=en}">[[#{navbar.a.language.english}]]</a></li>
        </ul>
    </nav>
    <div>
        <p>Texto externacionalizado: [[#{message.a.language(Andres)}]]</p>
    </div>

</body>
</html>