<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Thymeleaf</title>
        <style>
            article{
                border-style: groove;
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Thyemeleaf-v1</h1>
        <h2>-.Ejemplo sencilla de if en Thyemelaf.-</h2>
        <hr>
        <!-- Operador Elvis -->
        <section style="border-style: double;">
            <h3 style="padding: 0px;margin: 0px;"> Operador Elvis </h3>
            <!-- Operador Elvis "if -->
            <article>
                <h4>Operador Elvis "if"</h4>
                <mark>Sintaxis</mark> <br>
                <!-- <code>[[${condicion} ? sentences-true]]</code><br> -->
                <code> th:text="${condicion} ? sentencias-true" </code> <br>
                <code>&#91;&#91;&#36;&#123;condicion&#125; &#63; sentencias-true&#93;&#93;"> </code><br>
                <div style="border-style: solid;}; margin: 5px;">
                    <h4 style="margin: 0px;padding: 0px;">Ejemplo de un uso: </h4>
                    <hr>
                    <p th:text="'¿Lista vacia? '+(${ofertas.isEmpty()} ? true)"/>  </p>
                    <p th:text="'¿Lista no vacia? '+(not ${ofertas.isEmpty()} ? true)"/>  </p>
                    <p th:text="${ofertas.size()>2} ? 'Mas de dos elementos'" /> </p>
                </div>
            </article>
            <!-- Operador Elvis "else" -->
            <article>
                <h4>Operador Elvis "else"</h4>
                <mark>Sintaxis</mark> <br>
                <code> th:text="${condicion} ?: sentences-false" </code> <br>
                <!-- <code>[[${condicion} ?: sentences-false]]</code><br> -->
                <code>&#91;&#91;&#36;&#123;condicion&#125; &#63;&#58; sentencias-false&#93;&#93;"> </code><br>
                <div style="border-style: solid;}; margin: 5px;">
                    <h4 style="margin: 0px;padding: 0px;">Ejemplo de un uso: </h4>
                    <hr>
                    <p th:text="'¿Lista vacia? '+(${ofertas.isEmpty()} ?: false)"/>  </p>
                    <p th:text="'¿Lista no vacia? '+(not ${ofertas.isEmpty()} ?: true)"/>  </p>
                    <p th:text="${ofertas.size()>2} ?: 'Menos de dos elementos'" /> </p>
                </div>
            </article>
            <!-- Operador Elvis "if-else" -->
            <article>
                <h4>Operador Elvis "if-else"</h4>
                <mark>Sintaxis</mark> <br>
                <code> th:text="${condicion} ? sentencias-true : sentences-false" </code> <br>
                <!-- <code>[[${condicion} ? sentencias-true : sentences-false]]</code><br> -->
                <code>&#91;&#91;&#36;&#123;condicion&#125; &#63; sentencias-true &#58; sentencias-false&#93;&#93;"> </code><br>
                <div style="border-style: solid;}; margin: 5px;">
                    <h4 style="margin: 0px;padding: 0px;">Ejemplo de un uso: </h4>
                    <hr>
                    <p>¿Lista vacia? [[${ofertas.isEmpty()} ? true : false]]</p>
                    <p th:text="${ofertas.size()>2} ?'Mas de dos elementos': 'Menos de dos elementos'" /> </p>
                </div>
            </article>
        </section>
        <hr>
        <!-- Operador th:if & th:unless -->
        <section style="border-style: double;">
            <h3 style="padding: 0px;margin: 0px;"> Operador th:if & th:unless </h3>
            <p>
                Condiciones soportadas:
            <ul>
                <li>gt (>), lt (<)/li>
                <li>ge (>=), le (<=)</li>
                <li>not (!)</li>
                <li>eq (==), neq/ne (!=)</li>
            </ul>
            </p>
            <!-- Operador "th:if" -->
            <article>
                <h4>Operador "th:if"</h4>
                <mark>Sintaxis</mark> <br>
                <code> th:if="${condition}" </code> <br>
                <div style="border-style: solid;}; margin: 5px;">
                    <h4 style="margin: 0px;padding: 0px;">Ejemplo de un uso: </h4>
                    <hr>
                    <span th:if="${ofertas.size() gt 2}">Lista con mas de dos elementos.</span>
                    <span th:if="${ofertas.size() < ofertas.size()}">Lista con mas de dos elementos.</span>
                    <br>
                    <p>¿Lista vacia? <span th:if="${ofertas.isEmpty() }">Lista vacia.</span></p>
                    <p>¿Lista vacia? <span th:if="not ${ofertas.isEmpty() }">Lista no vacia.</span></p>
                </div>
            </article>
            <!-- Operador "th:unless" -->
            <article>
                <h4>Operador "th:unless"</h4>
                <mark>Sintaxis</mark> <br>
                <code> th:unless="${condition}" </code> <br>
                <div style="border-style: solid;}; margin: 5px;">
                    <h4 style="margin: 0px;padding: 0px;">Ejemplo de un uso: </h4>
                    <hr>
                    <span th:unless="${ofertas.size() gt 2}">Lista con menos de dos elementos.</span>
                    <span th:unless="${ofertas.size() > 2}">Lista con mas de dos elementos.</span>
                    <br>
                    <p>¿Lista vacia? <span th:unless="${ofertas.isEmpty() }">Lista no vacia.</span></p>
                    <p>¿Lista vacia? <span th:unless="not ${ofertas.isEmpty() }">Lista vacia.</span></p>
                </div>
            </article>
            <!-- Operador "th:if & th:unless" -->
            <article>
                <h4>Operador "th:if & th:unless"</h4>
                <mark>Sintaxis</mark> <br>
                <code> th:if="${condition}" sentence </code><br>
                <code> th:unless="${condition}" sentence</code><br>
                <div style="border-style: solid;}; margin: 5px;">
                    <h4 style="margin: 0px;padding: 0px;">Ejemplo de un uso: </h4>
                    <hr>
                    <hr>
                    <span th:if="${status}">La variable "status" es true.</span>
                    <span th:unless="${status}">La variable "status" es false.</span>
                    <br>
                    <p>¿Eres andresruizpenuela@gmail.com"?
                        <span th:if="${email}=='andresruizpenuela@gmail.com'"> Correcto usted es [[${email}]]</span>
                        <span th:unless="${email}=='andresruizpenuela@gmail.com'"> Lo siento, usted es [[${email}]]</span>
                    </p>
                </div>
            </article>
        </section>
    </body>
</html>