<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Etiquetas <meta> obligatorias para Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Enlazando el CSS de Bootstrap -->
	<link th:href="@{/bootstrap-5.0.0-beta3-dist/css/bootstrap.css}" rel="stylesheet" />
    <title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
  </head>
  <body>
   <h1>Resultado del borrado:</h1>
  	<div th:if="${result}">
		<h3 th:text="'EmpelaosApp |: '+ ${result}"></h3>
  	</div>
  	<div th:unless=="${result}">
  		<h3>Error </h3>
  	</div>

  	

    <!-- Opcional: enlazando el JavaScript de Bootstrap -->
    <!-- 
	    1º jquery-3.3.1.slim.min.js
	    2º popper.min.js
	    3º bootstrap.min.js
    Nota:
    	Si utilizas el archivo bootstrap.bundle.js o bootstrap.bundle.min.js, la librería Popper ya está incluida, pero jQuery no.
    -->
    <script th:src="@{/jquery/3.6.0/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.js}"></script>  
  </body>
</html>