<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Etiquetas <meta> obligatorias para Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Enlazando el CSS de Bootstrap -->
	<link th:href="@{/bootstrap-5.0.0-beta3-dist/css/bootstrap.css}" rel="stylesheet" />
    <title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
  </head>
  <body>
  	<div th:if="${vacante}">
  		<h1>Detalle de la oferta de trabajo</h1>
		<h3 th:text="'Nombre: '+ ${vacante.nombre}"></h3>
		<h3 th:text="'Fecha Publicacion: '+ ${vacante.fecha}"></h3>
		<p>Descripcion: [[${vacante.descripcion}]]<p>
		<p>salario: [[${vacante.salario}]]<p>
		<p>destacado: [[${vacante.destacado}]] <p>
		<p>img: [[${vacante.imagen}]]<p>
		<img th:src="@{/images/{img} ( img=${vacante.imagen} )  }" width="136" height="136"/> 
  	</div>
  	<div th:unless=="${vacante}">
  		<h1>Vacante no encontrada!</h1>
  	</div>

  	

    <!-- Opcional: enlazando el JavaScript de Bootstrap -->
    <!-- 
	    1º jquery-3.3.1.slim.min.js
	    2º popper.min.js
	    3º bootstrap.min.js
    Nota:
    	Si utilizas el archivo bootstrap.bundle.js o bootstrap.bundle.min.js, la librería Popper ya está incluida, pero jQuery no.
    -->
    <script th:src="@{/jquery/3.6.0/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.0.0-beta3-dist/js/bootstrap.bundle.js}"></script>  
  </body>
</html>