<!DOCTYPE html>
<html lang="es" xmlns:th="http:/tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${mensaje}">Hello my friends!</h1>
<h2> Hoy es [[${fecha}]]</h2>
</body>
</html>