 /* Defining the Styles for every Items that building the Menu */
 nav{
 	border: solid;
 	pading: 3em;
 }
 nav ul li{
	display:inline; 	/* Deleting the point or other paint of List */
    padding-left:3px;
    padding-right:3px;
}
 nav ul li a {
  color: red;
  font-weight: bold;
  text-decoration:none; /* Deleting the underline of the text */ 
}

 nav ul li a:hover {
  color: #000000;
  background-color:lightgray;
}