<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <style>
        article{
            border-style: groove;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h1>Thyemeleaf-v1</h1>
    <h2>-.Ejemplo sencillo de switch-case en Thyemelaf.-</h2>
    <!-- Operador Elvis -->
    <section style="border-style: double;">
        <h3 style="padding: 0px;margin: 0px;"> Operador Elvis </h3>
        <!-- Operador "th:switch" & "th:case" -->
        <article>
            <h4>Operador "switch-case"</h4>
            <mark>Sintaxis</mark> <br>
            <!-- <code>[[${condicion} ? sentences-true]]</code><br> -->
            <code>
                th:switch="${option}"<br>
                th:case="condition_A_1,condition_A_2,...,condition_A_N"<br>
                sentences_condition_A<br>
                th:case="condition_B"<br>
                sentences_condition_B<br>
                ...<br>
                th:case="*"<br>
                sentences_condition_defaul<br>
            </code> <br>
            <div style="border-style: solid;}; margin: 5px;">
                <h4 style="margin: 0px;padding: 0px;">Ejemplo de un uso: </h4>
                <hr>
                <div th:switch="${ofertas.size()}">
                    <div th:case="0">
                        [[${ofertas[0]}]]
                    </div>
                    <div th:case="1">
                        [[${ofertas[1]}]]
                    </div>
                    <div th:case="*">
                        Contenido:<br>
                        <span th:each="oferta:${ofertas}"> [[${oferta}]]<br></span>
                    </div>
                </div>
            </div>
        </article>
    </section>
</body>
</html>