<!DOCTYPE html>
<html lang="es" xmlns:th="http:/tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/global.css}" rel="stylesheet">
</head>
<body>
<h1 th:text="'Hola'+${mensaje}">Hello my friends!</h1>
<h1 th:text="${mensaje}">Hello my friends!</h1>
<h2> Hoy es [[${fecha}]]</h2>
</body>
</html>