<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf</title>
    <style>
        table, td {
            border:1px solid black;
        }
        table {
            width:100%;
        }
        td {
            padding:5px;
        }
    </style>
</head>
<body>
    <h1>Thyemeleaf-v1</h1>
    <h2>-.Ejemplo sencillo de each en Thyemelaf.-</h2>
    <div>
        <p>Tabla de empleos</p>
        <table>
            <caption>Lista de empleos</caption>
            <thead>
                <tr>
                    <th>Nombre de la oferta</th>
                </tr>
            </thead>

            <tbody th:each="oferta:${ofertas}">
                <tr>
                    <td th:text="${oferta}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <p>Tabla de empleos</p>
        <table>
            <caption>Lista de empleos</caption>
            <thead>
            <tr>
                <th>Nombre de la oferta</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td th:each="oferta:${ofertas}" th:text="${oferta}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>