<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Etiquetas <meta> obligatorias para Bootstrap -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="JMSR">
<meta name="description" content="Plantilla para documento HTML 5">
<meta name="keywords" content="HTML, CSS">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Enlazando el CSS de Bootstrap -->
<link th:href="@{/bootstrap-5.0.0/css/bootstrap.css}" rel="stylesheet" />
<!-- CS de JQEURY UI -->
<link rel="stylesheet" type="text/css"
	th:href="@{/jquery-ui-1.12.1/jquery-ui.css}">
	
<!-- Ico + css propios -->
<link rel="icon" type="image/png" href="favicon.ico">
<link rel="stylesheet" type="text/css"
	th:href="@{/personal/css/jumbotron.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/personal/css/sticky-footer-navbar.css}">
<!-- Titulo -->
<title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
</head>
<body>

	<header th:insert="fragments/menu :: menu-principal"></header>

<main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos de la oferta de trabajo</strong></h4>              
          <div class="card-body">
            <form th:action="@{/vacantes/save}" method="post" th:object="${vacante}" enctype="multipart/form-data">  
             
              <div th:if="${#fields.hasErrors('*')}"class='alert alert-danger' role='alert'>
				Por favor corrija los siguientes errores:
				<ul>
				<li th:each="err : ${#fields.errors('*')}" th:text="${err}"/>
				</ul>
			  </div>	
                       
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" name="nombre" placeholder="Titulo de la oferta de trabajo" required="required">
                  </div>
                </div>
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" name="descripcion" placeholder="Breve descripcion de la oferta de trabajo" required="required">
                  </div> 
                </div>    
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" th:field="*{categoria.id}">
                      <option th:each="categoria : ${categorias}" 
		                      th:value="${categoria.id}" 
		                      th:text="${categoria.nombre}"></option>                     
                    </select>
                  </div>
                </div>

                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="estatus">Estatus</label>
                    <select class="form-control" th:field="*{estatus}" name="estatus" id="estatus">
					  <option value="Creada">Creada</option>
                      <option value="Aprobada">Aprobada</option>
                      <option value="Eliminada">Eliminada</option>	
                    </select>
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Fecha de Publicación</label>
                    <!-- 
                    <input type="text" class="form-control" th:field="*{fecha}" name="fecha" id="fecha" placeholder="Fecha de publicacion" required="required">
                     -->
                    <input type="text" class="form-control" th:value="${#dates.format(vacante.fecha,'dd-mm-yyyy')}" name="fecha" id="fecha" placeholder="Fecha de publicacion" required="required">
                  </div>  
                </div>
                <div class="col-md-3"> 
                <br>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{destacado}" name="destacado" id="destacado" value="1" checked>
                    <label class="form-check-label" for="destacado1">Destacado</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{destacado}" name="destacado" id="destacado" value="0">
                    <label class="form-check-label" for="destacado2">No Destacado</label>
                  </div>
                </div>
              </div>    
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="salario">Salario Ofrecido (Aprox)</label>
                    <input type="text" class="form-control" th:field="*{salario}" name="salario" id="salario" placeholder="Salario aproximado." required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="archivoImagen">Imagen</label>
                    <input type="file" class="form-control-file" name="archivoImagen" id="archivoImagen">
                  </div>
                </div>
              </div> 
              <hr>
              <div class="row">
                <div class="col-md-9"> 
                  <div class="form-group">
                    <label for="detalles"><strong>Detalles</strong></label>          
                    <textarea class="form-control" th:field="*{detalles}" name="detalles" id="detalles" rows="7"></textarea>
                  </div> 
                </div> 
                <div class="col-md-3">
                  <label for="imagen">Imagen/Logo</label>
                  <img class="rounded mx-auto d-block" src="images/construccion-logo.png" alt="Generic placeholder image" width="200" height="200">            
                </div>
              </div> 
              <button type="submit" class="btn btn-primary">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>
	<header th:insert="fragments/footer :: pie-pagina"></header>
	<!-- Opcional: enlazando el JavaScript de Bootstrap -->
	<!-- 
		1- jquery-3.3.1.slim.min.js
		2- popper.min.js
		3- bootstrap.min.js
		Nota:
		Si utilizas nuestro archivo bootstrap.bundle.js (o bootstrap.bundle.min.js) 
		la librer?a Popper ya est? incluida, pero jQuery no. 
	-->

	<script th:src="@{/jquery/3.6.0/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/bootstrap-5.0.0/js/bootstrap.bundle.js}"></script>

	<!--  JQuery UI -->	
	<script th:src="@{/jquery-ui-1.12.1/jquery-ui.js}"></script>
	
	<!-- Editor de texto de OpenSource -->
	<script th:src="@{/tinymce/tinymce.min.js}"></script>

	<!-- JavaScript propios -->	
	<script th:src="@{/personal/js/validate-form.js}"></script>
	<script th:src="@{/personal/js/methods-form.js}"></script>
</body>
</html>