/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.jumbotron{
	background-color: #8A7C75;
}
.formJumbotron{
	/* Arriba | Derecha | Abajo | Izquierda */
	margin: 0em 0.5em 0.5em 0.5em;
}