<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
  <head>
    <!-- Etiquetas <meta> obligatorias para Bootstrap -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="JMSR">
	<meta name="description" content="Plantilla para documento HTML 5">
	<meta name="keywords" content="HTML, CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Enlazando el CSS de Bootstrap -->
	<link th:href="@{/bootstrap-5.0.0/css/bootstrap.css}" rel="stylesheet" />
	
	<!-- Ico + css propios -->
	<link rel="icon" type="images/logo.png" href="favicon.ico">
	<link rel="stylesheet" type="text/css" th:href="@{/personal/css/jumbotron.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/personal/css/sticky-footer-navbar.css}">

	
	<!-- Titulo -->
    <title>Spring Boot Thymeleaf - Bootstrap Compiles Files</title>
  </head>
  <body>
  	<header th:insert="fragments/menu :: menu-principal">    </header>
    

    <main role="main">
      <hr>
      <div class="container"> 

        <div class="row">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/images/{img} (img=${vacante?.nameImage}) }" th:alt="${vacante?.nameImage}" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header">Aplicar para <strong th:text="${vacante?.name}">Ingeniero Civil</strong></h4>              
              <div class="card-body">
                <h5 class="card-title"><strong>Categoría: </strong> <span>Nombre la categoría</span></h5>
                <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${#dates.format(vacante?.time,'dd-MM-yyyy')}">2019-01-01 </span></h6>                
                <h6 class="card-title"><strong>Salario Ofrecido: </strong><span th:text="${#numbers.formatDecimal(vacante?.salario,3,2,'COMMA')}+'€'">$9000</span></h6>
                <p class="card-text" th:text="${vacante?.description}">La descripción corta de la oferta de trabajo</p>
                
                <div class="card bg-light mb-3" >
                  <div class="card-body">
                    <h5 class="card-title">Detalles de la oferta de trabajo</h5>
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                </div>   
                <a class="btn btn-primary" href="#" role="button" title="Quiero aplicar para esta oferta de trabajo."><i class="fas fa-file" aria-hidden="true"></i> Aplicar</a>                            
              </div>
            </div>  
          </div>
        </div>

      </div>
    </main>

    <footer class="footer">
      
    </footer>
	
    <!-- Opcional: enlazando el JavaScript de Bootstrap -->
    <!-- 
		1- jquery-3.3.1.slim.min.js
		2- popper.min.js
		3- bootstrap.min.js
		Nota:
		Si utilizas nuestro archivo bootstrap.bundle.js (o bootstrap.bundle.min.js) 
		la librer?a Popper ya est? incluida, pero jQuery no. 
	-->
    <script th:src="@{/jquery/3.0.0/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.0.0/js/bootstrap.bundle.js}"></script>  
	<!-- JavaScript propios -->
	<script th:src="@{/personal/js/script-01.js}"></script>  
  </body>
</html>