<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
  <head>
    <!-- Etiquetas <meta> obligatorias para Bootstrap -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="JMSR">
	<meta name="description" content="Plantilla para documento HTML 5">
	<meta name="keywords" content="HTML, CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Enlazando el CSS de Bootstrap -->
	<link th:href="@{/bootstrap-5.0.0/css/bootstrap.css}" rel="stylesheet" />
	
	<!-- Ico + css propios -->
	<link rel="icon" type="image/png" href="favicon.ico">
	<link rel="stylesheet" type="text/css" th:href="@{/personal/css/base.css}">
	
	<!-- Titulo -->
    <title>Spring Boot Thymeleaf - Bootstrap Compiles Files</title>
  </head>
  <body>
  	<img th:src="@{/images/logo.png}" width="136" height="136" >
    <h1>Lista de Vacnates</h1>
    <table class="table table-striped table-bordered table-hover"> 
    	<thead>
    		<tr>
    			<th>Logo</th>
    			<th>Id</th>
    			<th>Nombre</th>
    			<th>Feah de Pub</th>
    			<th>Salario Ofrecido</th>
    			<th>Destacada</th>
    			<th>Detalle</th>
    			<th>Borrar</th>
    		</tr>
    	</thead>
    	<tbody th:each="vacante : ${vacantes}">
    		<tr>
    			<td><img th:alt="${vacante?.nameImage}" th:src="@{images/{img} (img=${vacante?.nameImage}) }" width="136" height="136" ></td>
    			<td th:text="${vacante?.id}"></td>
    			<td th:text="${vacante?.name}"></td>
    			<td th:text="${#dates.format(vacante?.time, 'dd-MM-yyyy')}"></td>
    			<td th:text="${#numbers.formatDecimal(vacante?.salario,1,2,'COMMA')}"></td>
    			<td>
    				<pan th:if="${vacante.importat==1}" class="badge bg-success">Si</pan>
    				<pan th:unless="${vacante.importat==1}" class="badge bg-danger text-black">No</pan>
    				<!-- 
    				<pan th:if="${vacante.importat!=1}" class="badge bg-danger text-black">No</pan>
    				<pan th:if="!${vacante.importat}" class="badge bg-danger text-black">No</pan>
    				 -->
    			</td>
    			<td>
    				<a th:href="@{vacantes/view/{id} (id= ${vacante?.id}) }" class="btn btn-primary">Detalle</a>
    			</td>
				<td>
					<a th:href="@{vacantes/delete(id=${vacante?.id}) }">Borrar</a>
				</td>    			
    			
    		</tr>
    	</tbody>
    </table>
	<button type="button" class="btn btn-danger">Peligro</button>
    <!-- Opcional: enlazando el JavaScript de Bootstrap -->
    <!-- 
		1- jquery-3.3.1.slim.min.js
		2- popper.min.js
		3- bootstrap.min.js
		Nota:
		Si utilizas nuestro archivo bootstrap.bundle.js (o bootstrap.bundle.min.js) 
		la librer?a Popper ya est? incluida, pero jQuery no. 
	-->
    <script th:src="@{/jquery/3.0.0/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.0.0/js/bootstrap.bundle.js}"></script>  
	<!-- JavaScript propios -->
	<script th:src="@{/personal/js/script-01.js}"></script>  
  </body>
</html>