<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Detalle de la Vacante</title>
</head>
<body>
<h1 th:text="'El id es: ' + ${idVacante}"></h1>
</body>
</html>