<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Title Web -->
    <title>[[${title}]]</title>
</head>
<body>
    <!-- START HEADER -->
    <header>
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
                <div class="col-md-4" style="max-width: 220px;">
                    <img src="/images/logo.png" alt="Lowo Empresas Web">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">[[${title}]]</h5>
                        <p class="card-text">[[${mensaje}]]: Web donde podrás publicar y buscar ofertas de trabajo.</p>
                        <p class="card-text"><small class="text-muted">[[${copy}]] [[${version}]] [[${Fecha}]]</small></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END HEADER -->

    <aside>
        <section style="float: left; border-color: black; margin: 10px;">
            <h2 class="text-primary">Ofertas de Trabajo</h2>
            <h3 th:text="'Titulo:' + ${nombre} "></h3>
            <h3 th:text="'Fecha Pub:' + ${fecha} "></h3>
            <h3 th:text="'Salario Ofrecido:' + ${salario} "></h3>
            <h3 th:text="'Vigente:' + ${vigente} "></h3>
        </section>
    </aside>

    <section>
        <h2 th:text="${mensaje}" class="text-primary">Bienvenido a Empleos</h2>
        <h2>Hoy es [[${fecha}]]</h2>
        <article></article>
    </section>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>
</html>