<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Detalle de la oferta de trabajo</h1>
    <h3 th:text="'Nombre: '+${vacante.name}"></h3>
    <h3 th:text="'Fecha publicación: '+${vacante.date}"></h3>
    <h3 th:text="'Salario: '+${vacante.salary}"></h3>
    <h3 th:text="'Descripción: '+${vacante.description}"></h3>
</body>
</html>