<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titleWeb}">Title</title>
</head>
<body>

 <h1 th:text="${titleWeb}"></h1>
 <h2>Bienvenido - APP de la ofertas de trabajo</h2>

 <h3 th:text="'Titulo:' + ${name}" ></h3>
 <p>
   Fecha de Publicación: [[${date}]]<br>
   Salario Ofrecido: [[${salary}]]
 </p>
 <p th:text="'Vigente: '+ ${status}"></p>

</body>
</html>