<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
  <head>
    <!-- Etiquetas <meta> obligatorias para Bootstrap -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="author" content="JMSR">
	<meta name="description" content="Plantilla para documento HTML 5">
	<meta name="keywords" content="HTML, CSS">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Enlazando el CSS de Bootstrap -->
	<link th:href="@{/bootstrap-5.0.0/css/bootstrap.css}" rel="stylesheet" />
	
	<!-- Ico + css propios -->
	<link rel="icon" type="image/png" href="favicon.ico">
	<link rel="stylesheet" type="text/css" th:href="@{/personal/css/base.css}">
	
	<!-- Titulo -->
    <title>Spring Boot Thymeleaf - Bootstrap Compiles Files</title>
  </head>
  <body>
    <h1>Lista de Vacnates</h1>
	<button type="button" class="btn btn-danger">Peligro</button>
    <!-- Opcional: enlazando el JavaScript de Bootstrap -->
    <!-- 
		1- jquery-3.3.1.slim.min.js
		2- popper.min.js
		3- bootstrap.min.js
		Nota:
		Si utilizas nuestro archivo bootstrap.bundle.js (o bootstrap.bundle.min.js) 
		la librer?a Popper ya est? incluida, pero jQuery no. 
	-->
    <script th:src="@{/jquery/3.0.0/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.0.0/js/bootstrap.bundle.js}"></script>  
	<!-- JavaScript propios -->
	<script th:src="@{/personal/js/script-01.js}"></script>  
  </body>
</html>