<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Etiquetas <meta> obligatorias para Bootstrap -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="JMSR">
<meta name="description" content="Plantilla para documento HTML 5">
<meta name="keywords" content="HTML, CSS">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Enlazando el CSS de Bootstrap -->
<link th:href="@{/bootstrap-5.0.0/css/bootstrap.css}" rel="stylesheet" />

<!-- Ico + css propios -->
<link rel="icon" type="image/png" href="favicon.ico">
<link rel="stylesheet" type="text/css"
	th:href="@{/personal/css/jumbotron.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{/personal/css/sticky-footer-navbar.css}">

<!-- Titulo -->
<title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
</head>
<body>

	<header th:insert="fragments/menu :: menu-principal"></header>

	<main role="main">
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-3">
					<img th:src="@{/images/logo.png}" width="136" height="136" class="col-*">
				</div>
				<div class="col-9">
					<h1 class="text-primary coll-9">Lista de Vacantes</h1>
				</div>
				
			</div>

			<div class="row">
				<table class="table table-striped table-bordered table-hover">
					<tr>
						<th>Logo</th>
						<th>Id</th>
						<th>Nombre</th>
						<th>Fecha de Pub</th>
						<th>Salario Ofrecido</th>
						<th>Descripcion</th>
						<th>Destacada</th>
						<th>Detalle</th>
						<th>Borrar</th>
					</tr>

					<tr th:each="vacante : ${vacantes} ">
						<td><img
							th:src="@{/images/{img} ( img=${vacante.imagen} )  }" width="136"
							height="136"></td>
						<td th:text="${vacante.id}"></td>
						<td th:text="${vacante.nombre}"></td>
						<td th:text="${vacante.fecha}"></td>
						<td th:text="${vacante.salario}"></td>
						<td th:text="${vacante.descripcion}"></td>
						<!-- 
	    <td th:text="${vacante.destacado}"></td>	    
	    <td th:text="${vacante.destacado == 1 ? 'Si' : 'No'}"></td>
	    -->
						<td><span th:if="${vacante.destacado==1}"
							class="badge badge-success">Si</span> <span
							th:unless="${vacante.destacado==1}" class="badge badge-danger">No</span>
						</td>
						<td><a th:href="@{/vacantes/view/{id} (id=${vacante.id})  }"
							class="btn btn-success">Detalle</a></td>
						<td><a th:href="@{/vacantes/delete(id=${vacante.id})  }"
							class="btn btn-danger">Borrar</a></td>


					</tr>

				</table>

			</div>

		</div>
	</main>

	</main>
	<header th:insert="fragments/footer :: pie-pagina"></header>
	<!-- Opcional: enlazando el JavaScript de Bootstrap -->
	<!-- 
		1- jquery-3.3.1.slim.min.js
		2- popper.min.js
		3- bootstrap.min.js
		Nota:
		Si utilizas nuestro archivo bootstrap.bundle.js (o bootstrap.bundle.min.js) 
		la librer?a Popper ya est? incluida, pero jQuery no. 
	-->
	<script th:src="@{/jquery/3.0.0/jquery-3.0.0.min.js}"></script>
	<script th:src="@{/bootstrap-5.0.0/js/bootstrap.bundle.js}"></script>
	<!-- JavaScript propios -->
	<script th:src="@{/personal/js/validate-form.js}"></script>
</body>
</html>